.main {
  width: 100%;
}

.breadcrumb_nav {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.breadcrumb {
  display: flex;
  list-style: none;
}

.breadcrumb_item:nth-child(n + 2) {
  padding-left: 1rem;
  display: flex;
}

.breadcrumb_icon {
  opacity: 0.4;
}

.breadcrumb_text {
  opacity: 0.7;
}

.breadcrumb_text_active {
  opacity: 1;
}

.page_content {
  width: 100%;
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

.product_detail {
}

.param {
  background-color: #cacaca;
  padding: 1rem;
  color: #7a8288;
}

.flex_line {
  display: flex;
  margin: 1rem;
  svg {
    margin-right: 0.5rem;
  }
}
