@import "~react-image-gallery/styles/scss/image-gallery.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f7fc;
}

a {
  text-decoration: none;
  color: #000;
}
