.section {
}

.content_wrapper {
  width: 70%;
  margin: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.item_wrapper {
  width: calc(20% - 0.8rem);
  background-color: #fff;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.item_wrapper:nth-child(5n + 1) {
  background-color: #fff;
  margin-left: 0;
}
