.analytics {
  flex-basis: calc(100% - 245px);
}

.chart_container {
  display: flex;
  justify-content: space-evenly;
}

.chart {
  flex-basis: 50%;
}

.doughnut {
  flex-basis: 10%;
}
