.form {
  width: 100%;
}

.title {
  text-align: center;
}

.forgot_password_container {
  display: flex;
  justify-content: flex-end;
}

.submit_container {
  margin-top: 3rem;
}

.to_register {
  margin-bottom: 0.5rem;
}
