.form {
  width: 100%;
}

.title_container {
  margin-bottom: 3rem;
}

.title {
  text-align: center;
}

.forgot_password_container {
  display: flex;
  justify-content: flex-end;
}

.to_register {
  margin-bottom: 0.5rem;
}

.submit_btn {
  position: relative;
  height: 48px;
}
