.address_contnent {
  flex-basis: 55%;
}

.title {
  text-transform: uppercase;
}

.cart_content {
  flex-basis: 45%;
}

.content {
  width: 100%;
}

.left_content {
  flex-basis: 50%;
}

.error {
  color: red;
}

.right_content {
  flex-basis: 50%;
}
